*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(185, 179, 179);
}



footer{
    background: #212226;
    padding: 20px;
}
footer p{
    color: #fff;
}

/*================================================================================
if you manage it to this far, congratulations, check more on https://devhubke.com
=================================================================================*/
















