.navbar{
    display: flex;
    padding:1vh 7vw;
}
.navbar a{
    text-decoration: none;
}

.card img{
   width: 18vw;
   height:30vh;
    
} 
.container{
    display: flex;

}

.card{
    border-top: none;
    border-shadow : 2ch;
} 

.row{
    margin-left: 8%;
}

.lead{
    color:#4c5f74;
    font-weight:400;
    font-size:20px;
}